.git
.vscode
__pycache__
runs
data
.venv
.gradio
flagged
.ruff_cache
nets
weights
.python-version

*darknet53_backbone_weights.pth
*yolo_weights.pth
checkpoint.pth
tiny_checkpoint.pth
yolov3.ipynb
coco_train.txt
coco_val.txt
yolov3_env.tar.gz
voc_train.txt
output.jpg
config/anchors.txt
tiny_weight.pth
normal_weight.pth
voc_val.txt
hyperGUI.py
yolov3_weight.pth
*.pth
*.pt
.python-version
requirements.txt
voc_train.json
voc_val.json
img/
train.ipynb